.bz-loading-wrapper {
  min-width: 80px;
  padding: 15px;
  background-color: #000000;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 35%;
  left: 50%;
  margin-left: -45px;
}

.bz-loading01 {
  height: 40px;
  position: relative;
}

.bz-loading01 .bz-container1,
.bz-loading01 .bz-container2 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
}

.bz-loading01 .bz-container2 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bz-loading01 .bz-circle {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  -webkit-animation: loading01 1.2s both infinite;
  animation: loading01 1.2s both infinite;
}

.bz-loading01 .bz-circle1 {
  top: 0;
  left: 0;
}

.bz-loading01 .bz-circle2 {
  top: 0;
  right: 0;
}

.bz-loading01 .bz-circle3 {
  bottom: 0;
  right: 0;
}

.bz-loading01 .bz-circle4 {
  bottom: 0;
  left: 0;
}

/* 设置延时 */
.bz-loading01 .bz-container1 .bz-circle1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.bz-loading01 .bz-container2 .bz-circle1 {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.bz-loading01 .bz-container1 .bz-circle2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.bz-loading01 .bz-container2 .bz-circle2 {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.bz-loading01 .bz-container1 .bz-circle3 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.bz-loading01 .bz-container2 .bz-circle3 {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.bz-loading01 .bz-container1 .bz-circle4 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.bz-loading01 .bz-container2 .bz-circle5 {
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}

@-webkit-keyframes loading01 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loading01 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.bz-loading-wrapper .bz-mask_view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

.bz-loading02 {
  position: relative;
  color: #ffffff;
  font-size: 0;
  vertical-align: middle;
}

.bz-loading02__spinner {
  position: relative;
  display: inline-block;
  width: 40px;
  max-width: 100%;
  height: 40px;
  max-height: 100%;
  vertical-align: middle;
  -webkit-animation: bz-rotate 2s linear infinite;
  animation: bz-rotate 2s linear infinite;
}

.bz-loading02__circular {
  display: block;
  width: 100%;
  height: 100%;
}

.bz-loading02__circular circle {
  -webkit-animation: bz-circular 1.5s linear infinite;
  animation: bz-circular 1.5s linear infinite;
  -webkit-stroke: currentColor;
  stroke: currentColor;
  -webkit-stroke-width: 3;
  stroke-width: 3;
  -webkit-stroke-linecap: round;
  stroke-linecap: round;
}

@-webkit-keyframes bz-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes bz-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bz-circular {
  0% {
    -webkit-stroke-dasharray: 0, 500;
    stroke-dasharray: 0, 500;
    -webkit-stroke-dashoffset: 0;
    stroke-dashoffset: 0;
  }

  50% {
    -webkit-stroke-dasharray: 50, 500;
    stroke-dasharray: 50, 500;
    -webkit-stroke-dashoffset: -50;
    stroke-dashoffset: -50;
  }

  100% {
    -webkit-stroke-dasharray: 100, 500;
    stroke-dasharray: 100, 500;
    -webkit-stroke-dashoffset: -100;
    stroke-dashoffset: -100;
  }
}

@keyframes bz-circular {
  0% {
    -webkit-stroke-dasharray: 0, 500;
    stroke-dasharray: 0, 500;
    -webkit-stroke-dashoffset: 0;
    stroke-dashoffset: 0;
  }

  50% {
    -webkit-stroke-dasharray: 50, 500;
    stroke-dasharray: 50, 500;
    -webkit-stroke-dashoffset: -50;
    stroke-dashoffset: -50;
  }

  100% {
    -webkit-stroke-dasharray: 100, 500;
    stroke-dasharray: 100, 500;
    -webkit-stroke-dashoffset: -100;
    stroke-dashoffset: -100;
  }
}

.bz-loading03 {
  position: relative;
  color: #ffffff;
  font-size: 0;
  vertical-align: middle;
}

.bz-loading03 .bz-loading__spinner {
  position: relative;
  display: inline-block;
  width: 40px;
  max-width: 100%;
  height: 40px;
  max-height: 100%;
  vertical-align: middle;
  -webkit-animation: bz-rotate03 0.8s linear infinite;
  animation: bz-rotate03 0.8s linear infinite;
}

.bz-loading03 .bz-loading__spinner--spinner {
  -webkit-animation-timing-function: steps(12);
  animation-timing-function: steps(12);
}

@-webkit-keyframes bz-rotate03 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes bz-rotate03 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(1) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  opacity: 1;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(2) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  opacity: 0.9375;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(3) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0.875;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(4) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  opacity: 0.8125;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(5) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  opacity: 0.75;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(6) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.6875;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(7) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  opacity: 0.625;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(8) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  opacity: 0.5625;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(9) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  opacity: 0.5;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(10) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  opacity: 0.4375;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(11) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  opacity: 0.375;
}

.bz-loading03 .bz-loading__spinner--spinner i:nth-of-type(12) {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0.3125;
}

.bz-loading03 .bz-loading__spinner--spinner i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bz-loading03 .bz-loading__spinner--spinner i::before {
  display: block;
  width: 4px;
  height: 25%;
  border-radius: 5px;
  margin: 0 auto;
  background-color: -webkit-currentColor;
  background-color: currentColor;
  content: ' ';
  border-radius: 40px;
}

body.bz-loading_noscroll {
  position: fixed;
  left: 0;
  right: 0;
}

.bz-loading04 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.bz-loading04_strip {
  position: relative;
  width: 10px;
  height: 40px;
}

.bz-loading04_strip::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 4px;
  height: 15px;
  -webkit-animation: bz-rotate04 1s linear infinite;
  animation: bz-rotate04 1s linear infinite;
  border-radius: 8px;
}

@keyframes bz-rotate04 {
  0% {
    height: 15px;
  }

  50% {
    height: 40px;
  }
}

@-webkit-keyframes bz-rotate04 {
  0% {
    height: 15px;
  }

  50% {
    height: 40px;
  }
}

.bz-loading04_strip:nth-of-type(1)::after {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.bz-loading04_strip:nth-of-type(2)::after {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.bz-loading04_strip:nth-of-type(3)::after {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.bz-loading04_strip:nth-of-type(4)::after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.bz-loading04_strip:nth-of-type(5)::after {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.bz-loading5 {
  width: 100px;
  height: 12px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: 0 auto 10px;
}

.bz-loading5::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 12px;
  background: linear-gradient(to right,
      lightgreen 0%, lightgreen 25%,
      cyan 25%, cyan 50%,
      yellow 50%, yellow 75%,
      lightgreen 75%, lightgreen 100%);
  background: -webkit-linear-gradient(to right,
      lightgreen 0%, lightgreen 25%,
      cyan 25%, cyan 50%,
      yellow 50%, yellow 75%,
      lightgreen 75%, lightgreen 100%);
  -webkit-animation: ba-rotato5 4s linear infinite;
  animation: ba-rotato5 4s linear infinite;
}

@keyframes ba-rotato5 {
  0% {
    right: 0;
  }

  33.33% {
    right: -100%;
  }

  66.66% {
    right: -200%;
  }

  100% {
    right: -300%;
  }
}

@-webkit-keyframes ba-rotato5 {
  0% {
    right: 0;
  }

  33.33% {
    right: -100%;
  }

  66.66% {
    right: -200%;
  }

  100% {
    right: -300%;
  }
}